@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 23 23 23;
        --color-bg-main: 249 250 251;
        --color-bg-muted: 234 233 225;
        --color-border-main: 23 23 23;
        --color-orange: 242 115 112;
        --color-purple: 68 43 117;
    }

    html.dark {
        --color-text-main: 242 241 236;
        --color-bg-main: 17 24 39;
        --color-bg-muted: 36 36 36;
        --color-border-main: 242 241 236;
    }

    .prose h1 p {
        @apply !mt-0
    }
}
