---
import siteConfig from '../data/site-config';

const hero = siteConfig.hero;
---

{
    (hero?.title || hero?.image?.src || hero?.text || (hero?.actions && hero.actions.length > 0)) && (
        <>
            <section class="w-full flex items-center gap-8 mb-16 sm:mb-16">
                <div class="w-1/2">
                    {hero.title && <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight">{hero.title}</h1>}
                </div>
                <div class="w-1/2">
                    {hero.image?.src && (
                        <figure>
                            <img class="w-full rounded" src={hero.image.src} loading="lazy" decoding="async" alt={hero.image.alt || ''} />
                            {hero.image.caption && <figcaption class="mt-1.5 text-xs sm:text-sm">{hero.image.caption}</figcaption>}
                        </figure>
                    )}
                </div>
            </section>
        </>
    )
}
